@font-face {
	font-family: Bride;
	font-display: swap;
	src: url("../fonts/Bride.woff") format("woff");
	fontWeight: 400;
	font-style: normal;
}
@font-face {
	font-family: Bride;
	font-display: swap;
	src: url("../fonts/Bride.woff2") format("woff2");
	fontWeight: 400;
	font-style: normal;
}
@font-face {
	font-family: Sugar Pouch;
	font-display: swap;
	src: url("../fonts/Sugar Pouch.woff") format("woff");
	fontWeight: 400;
	font-style: normal;
}
@font-face {
	font-family: The Californication;
	font-display: swap;
	src: url("../fonts/The Californication.woff") format("woff");
	fontWeight: 400;
	font-style: normal;
}
@font-face {
	font-family: The Californication;
	font-display: swap;
	src: url("../fonts/The Californication.woff2") format("woff2");
	fontWeight: 400;
	font-style: normal;
}
